@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.pic-container {
    display: flex;
    flex-direction: column;
    background-clip: content-box;
    padding-top: 300px;
    z-index: 999;
    align-items: center;
}

.pic {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    box-shadow: 1px 1px 10px lightgrey;
    z-index: 999;
}

.pic-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.pic-header {
    font-size: 5rem;
    color: white;
    margin-top: 10px;
    z-index: 999;
    font-family: 'Cinzel', serif;
}

.pic-explanation {
    font-size: 1.5rem;
    background-color: #ffffffbf;
    background-clip: content-box;
    padding: 10px;
    box-shadow: 1px 1px 8px lightgrey;
    width: 85%;
    z-index: 999;
    text-align: center;
    font-family: 'Cinzel', serif;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .pic-container {
        padding-top: 250px;
    }

    .pic-header {
        font-size: 2.5rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
}