@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.pic-container {
    display: flex;
    flex-direction: column;
    background-clip: content-box;
    z-index: 999;
    align-items: center;
    background: black;
}

.video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    justify-content: center;
}

.content {
    z-index: 1000;
}

@media screen and (max-width: 800px) {
    .pic-container {
        padding-top: 250px;
    }

    .pic-header {
        font-size: 2.5rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .video-container {
        top: 125px;
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        justify-content: center;
    }
    .video {
        size: 50%;
    }
}