*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.home-container {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.60)), rgba(255, 255, 255, 0.50);
}