#video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
}

.hero .content h1 {
    font-size: 4rem;
    color: white;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;

}

