.countries-list {
    display: block;
    font-weight: 100;
    text-align: center;
}

.address {
    margin-top: 30px;
    font-weight: 600;
}

.title {
    margin-top: 15vh;
    text-align: center;
    font-size: 65px;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), rgba(0, 0, 0, 0.55) url(spencer-davis-Ivwyqtw3PzU-unsplash.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        height: 100vh;

}
