@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: black;
  height: 100vh;
}

.main {
  padding-top: 125px;
}

.nav-container {
  display: flex;
  background: #002C76;
  align-items: center;
  width: 100%;
  z-index: 500;
  height: 135px;
  position: fixed;
  justify-content: center;
  box-shadow: 2px black;
}

.pic-lib-link {
  padding-top: 30px;
  font-size: 20px;
}

.map-link,
.visited-link {
  color: rgba(49, 107, 135);
  font-weight: 600;
  font-size: 1.8em;
  text-decoration: none;
  font-family: 'Square Peg', cursive;
}

.map-link {
  padding-right: 50px;
}

.visited-link {
  padding-left: 50px;
}

.left-link,
.right-link {
  color: rgba(49, 107, 135);
  font-weight: 600;
  margin-top: 40px;
  font-size: 1em;
}

.left-link {
  margin-left: -50px;
}

.left-link:hover,
.right-link:hover {
  cursor: default
}

.map-link:hover,
.visited-link:hover {
  color: rgb(245, 245, 152);
}

.link-container {
  display: flex;
}

.logo-container {
  width: auto;
  height: 4.6vmax;
  margin-top: 15px;
}

.logo-title {
  color: white;
  font-size: 35px;
  padding: 15px;
  font-family: 'Marck Script', cursive;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .link {
    font-size: 1.25rem;
  }

  .map-link,
  .visited-link {
    display: flex;
    color: rgba(49, 107, 135);
    font-weight: 600;
    font-size: 1.8em;
    text-decoration: none;
    font-family: 'Square Peg', cursive;
    text-align: center;
    margin: 50px;
    margin-left: 40px;
  }

  .left-link,
  .right-link {
    font-weight: 600;
    margin-top: 60px;
    font-size: 1em;
    padding-right: 50px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    color: transparent;
  }

  .logo-container {
    margin-left: -65px;
    margin-right: -45px;
    margin-top: 110px;
    display: center;
  }

  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 500;
    height: 125px;
  }
}